body {
  margin: 0;
  padding: 0;
}
.menu {
  background-color: black;
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  top: 0;
  z-index: 1000;
  text-indent: 3px;
  font-size: large;
}
.menu a {
  color: white;
  text-decoration: none;
  margin: 5px;
}
.subscribe {
  background-color: brown;
  color: white;
  border-radius: 5px;
  font-size: large;
}
.hierarchy {
  color: gray;
}